<p> cool </p>
<script>
	var module = angular.module("angular-google-maps-example", ["google-maps"]);
/*	function ExampleController($scope) {
		angular.extend($scope, {
			centerProperty : {
				lat : 45,
				lng : -73
			},
			zoomProperty : 8,
			markersProperty : [{
				latitude : 45,
				longitude : -74
			}],
			clickedLatitudeProperty : null,
			clickedLongitudeProperty : null,
		});
	}*/
</script>
<p> cool 2</p>