// Place all the styles related to the Maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 
// /* fix for Twitter Bootstrap handling of responsive images */
// .angular-google-map img {
    // max-width: none;
// }
// 
// .angular-google-map {
    // top: 80px;
// }

.angular-google-map-container { 
	width: 100%;
	// heuteur carte
	height: 600px;
	-webkit-border-radius: 1000px;
	-moz-border-radius: 1000px;
	border-radius: 1000px;
}
